[user]
	name = Francois-Xavier Gentilhomme
	email = gentilhomme.fx@outlook.fr
[merge]
	summary = true
[color]
	ui = true
[core]
	editor = vim
[push]
	default = current
[credential]
	helper = store
[pull]
	rebase = true
